/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3f3f3;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
  padding: 0 16px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}


/* ===== CARD ===== */

.card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

#lista-tarefas .card {
  width: 380px;
}

#formulario-tarefas .card {
  width: 380px; 
}


/* ===== HEADER DO CARD ===== */

.card-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.card-header h2 {
  text-align: center;
}

/* ===== LISTA DE TAREFAS ===== */

.lista-tarefas {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tarefa {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px;
  border-radius: 10px;
}

.tarefa:hover {
  background-color: #f4f4f4;
}

.check {
  width: 25px;
  height: 25px;

  border: 2px solid #6d4ae6;
  border-radius: 4px;

  background: none;
  cursor: pointer;
}

.tarefa.concluida .check::after {
  content: "✔";
  color: #6d4ae6;
  font-size: 16px;
}

.tarefa.concluida .titulo {
  text-decoration: line-through;
  color: #999;
}

.tarefa {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* CONTEÚDO */

.conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 15px;
  font-weight: 600;
}

/* DESCRIÇÃO OCULTA */

.descricao {
  display: none;
  font-size: 14px;
  margin-top: 6px;
  color: #555;
}

/* futuramente JS adiciona essa classe */
.tarefa.aberta .descricao {
  display: block;
}

/* CATEGORIA */

.categoria {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  background-color: #e0e7ff;
  color: #3730a3;
}

/* BOTÃO EXCLUIR */

.excluir {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;

  background-color: #ebe6e5;
  cursor: pointer;
}

/* ===== FORMULÁRIO ===== */

#formulario-tarefas h2 {
  text-align: center;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 80px;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #6d4ae6;
  color: white;
  cursor: pointer;
}